{% extends "app/base.html" %}

{% block home-content %}

    <div class="top-nav">
      <ul class="horizNav">
        <li><input type="file" id="real-file"/></li>
        <li><a href="#Download">Download</a></li>
        <li><a href="#Play">Play</a></li>
        <li><a href="#Voice">Voice</a></li>
        <li><a href="#Language">Language</a></li>
        <li><a href="#EchoAR">EchoAR</a></li>
      </ul>
    </div>

    <div class="body">
      <ul class="vertNav">
        <li><a href="#p1">Page 1</a></li>
        <li><a href="#p2">Page 2</a></li>
        <li><a href="#p3">Page 3</a></li>
      </ul>

      <textarea name="name" rows="20" cols="100"></textarea>
      <div class="buttons">

        <button class="button"type="button" name="button"><p>&#9194</p></button>
        <button class="button"type="button" name="button"><p>&#9199</p></button>
        <button class="button" type="button" name="button"><p>&#9193</p></button>    
      </div>
    </div>

{% endblock %}
